/node_modules
/public/hot
/public/mix-manifest.json
/public/js
/storage/*.key
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/css
public/robots.txt
/storage/app/public
/coverage
/public/fonts/vendor
/public/vendor/*
tinker.php
storage/app/backup-temp
storage/app/backups
.history/
.styleci.yml
test.php
**/.DS_Store
/public/img
/public/build
/DEVSENSE/*
draft.php